@if (Session["rol"] != null)
{
    if (Session["rol"].ToString().Equals("Administrador") || Session["rol"].ToString().Equals("Encargado de Planta") || Session["rol"].ToString().Equals("Asistente SIG - Operación"))
    {
        @model SistemaIndicadoresAmbientales.Entity.ConsumoElectrico

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div id="Formulario">
                <div id="Etiqueta">
                    <h1 class="H1-Etiqueta">Registrar Consumo Electrico</h1>
                </div>
                <div id="Formulario">
                    <div style="margin: 0 auto; width: 25%;">
                        @if (TempData["success"] != null)
                        {
                            TempData.Remove("success");
                            <spam class="text-success">Consumo registrado</spam>
                        }
                        @if (TempData["error"] != null)
                        {
                            TempData.Remove("error");
                            <spam class="text-danger">Error al registrar</spam>
                        }
                        @if (TempData["errU"] != null)
                        {
                            TempData.Remove("error");
                            <spam class="text-danger">Error de acceso</spam>
                        }
                    </div>
                </div>
                <div class="Formulario">
                    <label class="control-label">Mes del Consumo:</label>
                    <select name="Mes" id="Mes">
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Setiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="Formulario">
                    <label class="control-label">Fecha Consumo:</label>
                    <input type="date" class="form-control" name="FechaConsumo" id="FechaConsumo" />
                </div>
                <div class="Formulario">
                    <table class="table">
                        <thead>
                        <th>Nombre Medidor</th>
                        <th>Numero Medidor</th>
                        <th>NISE</th>
                        <th>Kilowatts</th>

                        </thead>
                        @{
                            int cont = 0;
                            foreach (var item in (ViewData["Vatis"] as IEnumerable<SistemaIndicadoresAmbientales.Entity.Vatihorimetro>))
                            {
                                <tr>
                                    <td>
                                        @Html.Label(item.Nombre_Medidor + "")
                                    </td>
                                    <td>
                                        @Html.Label(item.Numero_Vatihorimetro + "")
                                    </td>
                                    <td>
                                        @Html.Label(item.NISE + "")
                                    </td>
                                    <td>
                                        <input type="hidden" value="@item.Id_Vatihorimetro" name="id+@cont" id="id+@cont" />
                                        <input type="number" name="k+@cont" id="k+@cont" />
                                    </td>
                                </tr>
                                cont++;
                            }//end for
                        }
                    </table>
                    <input type="hidden" value="@cont" id="tamanio" />

                </div>
                <div>
                    <div style="text-align: center;">
                        <input value="Ingresar" id="ingresar" name="Registrar" type="button" onclick="insertarConsumo();" class="from-control">
                    </div>
                </div>
            </div>
        }
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script>
            function insertarConsumo() {
                var cantidad = document.getElementById("tamanio").value;
                var json = new Array();
                consumos = new Array();
                for (var i = 0; i < cantidad; i++) {
                    var id = document.getElementById("id+" + i).value;
                    var cant = document.getElementById("k+" + i).value;
                    consumos.push({
                        Id_Vatihorimetro: document.getElementById("id+" + i).value,
                        Cantidad: document.getElementById("k+" + i).value,
                        Mes: document.getElementById("Mes").value,
                        Fecha: document.getElementById("FechaConsumo").value

                    });
                }//
                var dataPost = JSON.stringify({ consumo: consumos });
                var xhr = new XMLHttpRequest();
                xhr.open('POST', 'RegistrarConsumoElectricoAntiguo');
                xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
                xhr.send(dataPost);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        window.location.href = 'RegistrarConsumoElectricoAntiguoView';;

                    }//end if
                }//end function
            }

        </script>

    }
    else
    {
        Response.Redirect("~/Home/Error", false);
    }//else
}
else
{
    Response.Redirect("~/Home/Error", false);
}