@model IEnumerable<SistemaIndicadoresAmbientales.Entity.ConsumoAceite>
<br />
<p>
    @Html.ActionLink("Volver", "Index")
</p>
<br />
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.id_consumo)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.factura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_activo_placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cant_motor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cant_caja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cant_delantera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cant_trasera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cant_hidraulico)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.fecha_factura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_registro)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>*@
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.id_consumo)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.factura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_activo_placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cant_motor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cant_caja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cant_delantera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cant_trasera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cant_hidraulico)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.fecha_factura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_registro)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>*@
       
        <td>
            @Html.ActionLink("Edit", "ListarConsumoAceiteVehiculos", new { /* id=item.PrimaryKey */ }) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
