@model SistemaIndicadoresAmbientales.Entity.ConsumodeAgua


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="Etiqueta">
        <h1 class="H1-Etiqueta">Historico Consumo de Agua</h1>
    </div>
    <div id="Formulario">
        <div class="Formulario">
            @Html.Label("Mes del Consumo:", htmlAttributes: new { @class = "control-label" })
            @{
                <input type="hidden" value="" name="cantidadConsumos" id="cantidadConsumos" />
                <input type="hidden" value="@ViewData["MesAnterior"]" id="MesAnterior" name="MesAnterior" />
            }
            <select name="Mes" id="Mes" class="form-control">
                <option value="01">Enero</option>
                <option value="02">Febrero</option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayo</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Setiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
            <script>
                document.getElementById("Mes").value = document.getElementById("MesAnterior").value;
            </script>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <div class="Formulario">
            @Html.Label("Plantas", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("plantas", ViewData["plantas"] as SelectList, new { @class = "form-control" })
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <div class="Formulario">
           <label>Año Anterior:</label>
            <input type="number" class="form-control" value = "@ViewData["AnioAnterior"]" id="AnioComparar" name="AnioComparar" />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <div class="Formulario">
            <label>Anual:</label><input type="radio" id="tipo" name="tipo" value="Anual" class='my_chkBox' checked="checked" />
            <label>Mensual:</label><input type="radio" id="tipo" name="tipo" value="Mensual" class='my_chkBox' checked="checked" />
        </div>
        <br />
        <br />
        <div id="pdf" name="pdf">
            <table id="Encabezado" class="table">
                <tbody id="EncabezadoBody">
                <thead id="EncabezaodHead">
                <th>Nombre de Planta</th>
                <th>Fecha</th>
                </thead>
                </tbody>
            </table>
            <table id="Historicos" class="table">
                <tbody id="HistoricosBody">
                    <thead id="HistoricosHead">
                        <th>N° Hidrometro</th>
                        <th>Metros Cúbicos</th>
                        <th>Mes</th>
                        <th>Año</th>
                    </thead>
                </tbody>
            </table>
        </div>
        <div>
            <br />
            <div style="text-align: center;">
                <input value="Exportar" id="Exportar" name="Exportar" onclick="exportarPDF();" type="button" class="from-control">
            </div>
        </div>
    </div>
   }
<link href="~/Public/css/DataTable.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Public/js/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Public/PDF/jspdf.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">



    $("#plantas").change(function () {

          var PlamNOm = $("plantas").selectedI;
        alert(PlamNOm);
        var mes = document.getElementById("Mes").value;
        var planta = document.getElementById("plantas").value;
        var anio = document.getElementById("AnioComparar").value;
        var combo = document.getElementById("plantas");
        var selected = combo.options[combo.selectedIndex].text
        var anioAnterior = (anio-1);
        var tipo = $('input[name="tipo"]:checked').val();
        var tehad = "<th>Id Consumo Agua</th><th>Número Hidrómetro</th><th>Cantidad</th><th>Fecha</th><th>Mes</th>";
        if (tipo == "Anual") {
        var datos = { "planta": planta, "anio": anio };

            $.ajax({
                type: 'POST',
                url: '@Url.Action("obtenerHistoricoAguaAnual")',
                dataType: 'json',
                data: datos,

                success: function (consumo) {
                    var json = JSON.stringify(consumo);
                    alert(json);
                    var body = "";
                    var cont = 0;
                    var CantidadTotal = 0;
                    var CantidadMes = 0;
                    for (var i = 0; i < consumo.length; i++) {
                        body += "<tr><td>" + consumo[i].Numero_Hidrometro +
                            "</td><td>" + consumo[i].Cantidad + " </td><td>" + consumo[i].Anio + "</td>" +
                            "<td>" + retornarMES(consumo[i].Mes) + "</td></tr>";
                        cont = (i + 1);
                        if (cont == consumo.length) {
                            CantidadTotal += consumo[i].Cantidad;
                            body += "<tr><th>Total " + consumo[i].Anio + ": </th><th>" + CantidadTotal + "</th><th></th><th></th></tr>";
                            CantidadTotal = 0;
                        } else {
                            if (consumo[i].Anio != consumo[cont].Anio) {
                                CantidadTotal += consumo[i].Cantidad;
                                body += "<tr><th>Total "+consumo[i].Anio+": </th><th>" + CantidadTotal + "</th><th></th><th></th></tr>";
                                CantidadTotal = 0;
                            } else {
                                if (consumo[i].Mes != consumo[cont].Mes) {
                                    CantidadMes += consumo[i].Cantidad;
                                    body += "<tr><td>" + retornarMES(consumo[i].Mes) + ": </td><td>" + CantidadMes + "</td><td></td><td></td></tr>";
                                    CantidadMes = 0;
                                } else {
                                    CantidadMes += consumo[i].Cantidad;
                                }//else - if
                                CantidadTotal += consumo[i].Cantidad;
                            }//end if-else
                        }//end else-if
                    }//end for
                    var f = new Date();
                    var head = "<tr><td>" + selected + "</td><td>" + f.getDate() + "/" + (f.getMonth() + 1) + "/" + f.getFullYear() + "</td></tr>";
                    $("#HistoricosBody").html(body);
                    $("#EncabezadoBody").html(head);


                }//sucess
            });
        } else { //sino es anual es mensual
            var datos = { "planta": planta,"mes":mes ,"anio": anio };

            $.ajax({
                type: 'POST',
                url: '@Url.Action("obtenerHistoricoAgua")',
                dataType: 'json',
                data: datos,

                success: function (consumo) {
                    var json = JSON.stringify(consumo);
                    alert(json);
                    var body = "";
                    var cont = 0;
                    var CantidadTotal = 0;
                    for (var i = 0; i < consumo.length; i++) {
                        body += "<tr><td>" + consumo[i].Numero_Hidrometro +
                            "</td><td>" + consumo[i].Cantidad + " </td><td></td>" +
                            "<td></td></tr>";
                        cont = (i + 1);
                        if (cont == consumo.length) {
                            CantidadTotal += consumo[i].Cantidad;
                            body += "<tr><th>Cantidad Total: : </th><th>" + CantidadTotal +
                                "</th><th>" + retornarMES(consumo[i].Mes) + "</th><th>" + consumo[i].Anio +
                                "</th></tr>";
                            CantidadTotal = 0;
                        } else {
                            if (consumo[i].Mes != consumo[cont].Mes || consumo[i].Anio != consumo[cont].Anio) {
                                CantidadTotal += consumo[i].Cantidad;
                                body += "<tr><th>Cantidad Total: : </th><th>" + CantidadTotal +
                               "</th><th>" + retornarMES(consumo[i].Mes) + "</th><th>" + consumo[i].Anio +
                               "</th></tr>";
                                CantidadTotal = 0;
                            } else {
                                CantidadTotal += consumo[i].Cantidad;

                            }
                        }
                    }//end for
                    var f = new Date();
                    var head = "<tr><td>" + selected + "</td><td>" + f.getDate() + "/" + (f.getMonth() + 1) + "/" + f.getFullYear() + "</td></tr>";
                    $("#HistoricosBody").html(body);
                    $("#EncabezadoBody").html(head);


                }//sucess
            });
        }//end if-else
    });

    $("#Mes").change(function () {
        var PlamNOm = $("plantas").selectedI;
        alert(PlamNOm);
        var mes = document.getElementById("Mes").value;
        var planta = document.getElementById("plantas").value;
        var anio = document.getElementById("AnioComparar").value;
        var combo = document.getElementById("plantas");
        var selected = combo.options[combo.selectedIndex].text
        var anioAnterior = (anio-1);
        var tipo = $('input[name="tipo"]:checked').val();
        var tehad = "<th>Id Consumo Agua</th><th>Número Hidrómetro</th><th>Cantidad</th><th>Fecha</th><th>Mes</th>";
        if (tipo == "Anual") {
        var datos = { "planta": planta, "anio": anio };

            $.ajax({
                type: 'POST',
                url: '@Url.Action("obtenerHistoricoAguaAnual")',
                dataType: 'json',
                data: datos,

                success: function (consumo) {
                    var json = JSON.stringify(consumo);
                    alert(json);
                    var body = "";
                    var cont = 0;
                    var CantidadTotal = 0;
                    var CantidadMes = 0;
                    for (var i = 0; i < consumo.length; i++) {
                        body += "<tr><td>" + consumo[i].Numero_Hidrometro +
                            "</td><td>" + consumo[i].Cantidad + " </td><td>" + consumo[i].Anio + "</td>" +
                            "<td>" + retornarMES(consumo[i].Mes) + "</td></tr>";
                        cont = (i + 1);
                        if (cont == consumo.length) {
                            CantidadTotal += consumo[i].Cantidad;
                            body += "<tr><th>Total " + consumo[i].Anio + ": </th><th>" + CantidadTotal + "</th><th></th><th></th></tr>";
                            CantidadTotal = 0;
                        } else {
                            if (consumo[i].Anio != consumo[cont].Anio) {
                                CantidadTotal += consumo[i].Cantidad;
                                body += "<tr><th>Total "+consumo[i].Anio+": </th><th>" + CantidadTotal + "</th><th></th><th></th></tr>";
                                CantidadTotal = 0;
                            } else {
                                if (consumo[i].Mes != consumo[cont].Mes) {
                                    CantidadMes += consumo[i].Cantidad;
                                    body += "<tr><td>" + retornarMES(consumo[i].Mes) + ": </td><td>" + CantidadMes + "</td><td></td><td></td></tr>";
                                    CantidadMes = 0;
                                } else {
                                    CantidadMes += consumo[i].Cantidad;
                                }//else - if
                                CantidadTotal += consumo[i].Cantidad;
                            }//end if-else
                        }//end else-if
                    }//end for
                    var f = new Date();
                    var head = "<tr><td>" + selected + "</td><td>" + f.getDate() + "/" + (f.getMonth() + 1) + "/" + f.getFullYear() + "</td></tr>";
                    $("#HistoricosBody").html(body);
                    $("#EncabezadoBody").html(head);


                }//sucess
            });
        } else { //sino es anual es mensual
            var datos = { "planta": planta,"mes":mes ,"anio": anio };

            $.ajax({
                type: 'POST',
                url: '@Url.Action("obtenerHistoricoAgua")',
                dataType: 'json',
                data: datos,

                success: function (consumo) {
                    var json = JSON.stringify(consumo);
                    alert(json);
                    var body = "";
                    var cont = 0;
                    var CantidadTotal = 0;
                    for (var i = 0; i < consumo.length; i++) {
                        body += "<tr><td>" + consumo[i].Numero_Hidrometro +
                            "</td><td>" + consumo[i].Cantidad + " </td><td></td>" +
                            "<td></td></tr>";
                        cont = (i + 1);
                        if (cont == consumo.length) {
                            CantidadTotal += consumo[i].Cantidad;
                            body += "<tr><th>Cantidad Total: : </th><th>" + CantidadTotal +
                                "</th><th>" + retornarMES(consumo[i].Mes) + "</th><th>" + consumo[i].Anio +
                                "</th></tr>";
                            CantidadTotal = 0;
                        } else {
                            if (consumo[i].Mes != consumo[cont].Mes || consumo[i].Anio != consumo[cont].Anio) {
                                CantidadTotal += consumo[i].Cantidad;
                                body += "<tr><th>Cantidad Total: : </th><th>" + CantidadTotal +
                               "</th><th>" + retornarMES(consumo[i].Mes) + "</th><th>" + consumo[i].Anio +
                               "</th></tr>";
                                CantidadTotal = 0;
                            } else {
                                CantidadTotal += consumo[i].Cantidad;

                            }
                        }
                    }//end for
                    var f = new Date();
                    var head = "<tr><td>" + selected + "</td><td>" + f.getDate() + "/" + (f.getMonth() + 1) + "/" + f.getFullYear() + "</td></tr>";
                    $("#HistoricosBody").html(body);
                    $("#EncabezadoBody").html(head);


                }//sucess
            });
        }//end if-else
    });
    var Mes;
    function retornarMES(mes){
        switch(mes){
            case 1:
                return "Enero";
            case 2:
                return "Febrero";
            case 3:
                return "Marzo";
            case 4:
                return "Abril";
            case 5:
                return "Mayo";
            case 6:
                return "Junio";
            case 7:
                return "Julio";
            case 8:
                return "Agosto";
            case 9:
                return "Setiembre";
            case 10:
                return "Octubre";
            case 11:
                return "Noviembre";
            case 12:
                return "Diciembre";
            default:
                return "Enero";
        }//end switc
    }//end funcuion
    function sumarCantidad(mes, cantidadM3) {
        switch (mes) {
            case 1:
                return "Enero";
            case 2:
                return "Febrero";
            case 3:
                return "Marzo";
            case 4:
                return "Abril";
            case 5:
                return "Mayo";
            case 6:
                return "Junio";
            case 7:
                return "Julio";
            case 8:
                return "Agosto";
            case 9:
                return "Setiembre";
            case 10:
                return "Octubre";
            case 11:
                return "Noviembre";
            case 12:
                return "Diciembre";
            default:
                return "Enero";
        }//end switc
    }//end funcuion



    function exportarPDF() {
        document.getElementById('pdf').style.display = "block";
        var pdf = new jsPDF('p', 'pt', 'letter');
        source = $('#pdf')[0];

        specialElementHandlers = {
            '#bypassme': function (element, renderer) {
                return true
            }
        };
        margins = {
            top: 50,
            bottom: 50,
            left: 72,
            width: 600
        };

        pdf.fromHTML(
          source,
          margins.left,
          margins.top, {
              'width': margins.width,
              'elementHandlers': specialElementHandlers
          });

        pdf.save("ReportePrueba.pdf");

    }//pdf

</script>


