@model SistemaIndicadoresAmbientales.Entity.Entrada


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="Etiqueta">
        <h1 class="H1-Etiqueta">Actualizar Entrada Material Órganico</h1>
    </div>
    <div id="Formulario">
        <div style="margin: 0 auto; width: 25%;">
            @if (TempData["success"] != null)
                {
                    TempData.Remove("success");
                <spam class="text-success">Abono actualizado</spam>
            }
            @if (TempData["error"] != null)
                {
                    TempData.Remove("error");
                <spam class="text-danger">Error al actualizar</spam>
            }
        </div>
      </div>
      <div id="Formulario">
            <div class="Formulario">
                @Html.Label("Mes del Consumo:", htmlAttributes: new { @class = "control-label" })
                @{
                    <input type="hidden" value="" name="cantidadConsumos" id="cantidadConsumos" />
                    <input type="hidden" value="@ViewData["MesAnterior"]" id="MesAnterior" name="MesAnterior" />
                }
                <select name="Mes" id="Mes" class="form-control">
                    <option value="01">Enero</option>
                    <option value="02">Febrero</option>
                    <option value="03">Marzo</option>
                    <option value="04">Abril</option>
                    <option value="05">Mayo</option>
                    <option value="06">Junio</option>
                    <option value="07">Julio</option>
                    <option value="08">Agosto</option>
                    <option value="09">Setiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
                <script>
                    document.getElementById("Mes").value = document.getElementById("MesAnterior").value
                </script>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            <div class="Formulario">
                @Html.Label("Plantas", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("plantas", ViewData["plantas"] as SelectList, new { @class = "form-control" })
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
          <div id="Consumos" name="Consumos">
              <table id="tbConsusmo" class="table">
                  <tbody id="bodyConsumos">
                  <thead>
                  <th>Fecha</th>
                  <th>Gramos orgánicos</th>
                  </thead>
                  </tbody>
              </table>
          </div>
            <div>
                <br />
                <div style="text-align: center;">
                    <input value="Actualizar" id="Actualizar" name="Actualizar" onclick="actualizarConsumoEntrada();" type="button" class="from-control">
                </div>
            </div>
        </div>
        }

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script type="text/javascript">
            function actualizarConsumoEntrada() {
                var consumoss = new Array();
                var cantidad = document.getElementById("cantidadConsumos").value;
                for (var i = 0; i < cantidad ; i++) {
                    consumoss.push({
                        Id_Consumo_Compost_Entrada: document.getElementById("Id_Consumo_Compost_Entrada" + i).value,
                        Cantidad: document.getElementById("Cantidad" + i).value,
                    });
                }//end for


                var dataPost = JSON.stringify({ consumos: consumoss });
                alert(dataPost);

                var xhr = new XMLHttpRequest();
                xhr.open('POST', 'ActualizarConsumoEntrada');
                xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
                xhr.send(dataPost);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        window.location.href = 'ActualizarCompostEntradaView';;

                    }//end if
                }
            }//end actualizar

            $("#plantas").change(function () {

                var mes = document.getElementById("Mes").value;
                var planta = document.getElementById("plantas").value;
                var datos = { "mes": mes, "planta": planta };

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("obtenerConsumoEntradaActualizar")',
                    dataType: 'json',
                    data: datos,

                    success: function (consumo) {
                        var body = "";
                        var cont = 0;
                        for (var i = 0; i < consumo.length ; i++) {
                            body += "<tr><td>"+consumo[i].Fecha+"</td>";
                            body += "<td><input type='number' value='" + consumo[i].Cantidad + "' name='Cantidad" + i + "' id='Cantidad" + i + "' /></td></tr>";
                            body += "<input type='hidden' value='" + consumo[i].Id_Consumo_Compost_Entrada + "'name='Id_Consumo_Compost_Entrada" + i + "' id='Id_Consumo_Compost_Entrada" + i + "' />\n";
                            body += "<br>\n";
                            cont++;
                        }//
                        document.getElementById("cantidadConsumos").value = cont;
                        $("#bodyConsumos").html(body);
                    }
                });
            });

            $("#Mes").change(function () {
                 var mes = document.getElementById("Mes").value;
                var planta = document.getElementById("plantas").value;
                var datos = { "mes": mes, "planta": planta };

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("obtenerConsumoEntradaActualizar")',
                    dataType: 'json',
                    data: datos,

                    success: function (consumo) {
                        var body = "";
                        var cont = 0;
                        for (var i = 0; i < consumo.length ; i++) {
                            body += "<tr><td>" + consumo[i].Fecha + "</td>";
                            body += "<td><input type='number' value='"+consumo[i].Cantidad+"' name='Cantidad"+i+"' id='Cantidad"+i+"' /></td></tr>";
                            body += "<input type='hidden' value='" + consumo[i].Id_Consumo_Compost_Entrada + "'name='Id_Consumo_Compost_Entrada" + i + "' id='Id_Consumo_Compost_Entrada" + i + "' />\n";
                            body += "<br>\n";
                            cont++;
                        }//
                        document.getElementById("cantidadConsumos").value = cont;
                        $("#bodyConsumos").html(body);
                    }
                });
            });
        </script>


