@model SistemaIndicadoresAmbientales.Models.ChangePasswordViewModel

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div id="Etiqueta">
            <h1 class="H1-Etiqueta">Cambiar contraseña</h1>
        </div>
        <hr />
        <div id="Formulario">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="Formulario">
                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
            <div class="Formulario">
                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
            <div class="Formulario">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            <br />
            <br />
            <div>
                <div style="text-align: center;">
                    <input type="submit" class="btn btn-default" value="Cambiar contraseña" />
                </div>
            </div>
        </div>
    </div>
}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
