@model IEnumerable<SistemaIndicadoresAmbientales.Entity.ConsumoCombustible>

<div id="Etiqueta">
    <h1 class="H1-Etiqueta">Consumos de Combustible (Equipo Menor)</h1>
</div>

<p>
    @Html.ActionLink("Vehiculos", "ListarConsumoCombustibleVehiculos")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_activo_placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cant_combustible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.factura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_factura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_registro)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.id_activo_placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cant_combustible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.factura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_factura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_registro)
            </td>
            <td>
                @*@Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                @*@Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }

</table>
