@model SistemaIndicadoresAmbientales.Entity.Equipo

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="Etiqueta">
        <h1 class="H1-Etiqueta">Registrar Equipo</h1>
    </div>

    <div style="margin: 0 auto; width: 25%;">
        @if (TempData["success"] != null)
        {
            TempData.Remove("success");
            <spam class="text-success">El Equipo se ha creado satisfactoriamente</spam>
        }
        @if (TempData["error"] != null)
        {
            TempData.Remove("error");
            <spam class="text-danger">Error! No se pudo crear el nuevo Equipo</spam>
        }
    </div>


    <div class="form-horizontal">
        <div class="row">
            <br />
            <h4 class="text-info">Detalle del Equipo</h4>
        </div>
            <div class="row">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })*@
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.tipo, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        <select id="tipo" name="tipo" class="form-control">
                            <option value="Vehiculo">Vehiculo</option>
                            <option value="Equipo Menor">Equipo Menor</option>
                            @*<option value="Maquinaria">Maquinaria</option>*@
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.id_activo_placa, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.id_activo_placa, new { htmlAttributes = new { @class = "form-control" } })
                        @*@Html.ValidationMessageFor(model => model.id_activo_placa, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.id_planta, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.DropDownList("plantas", ViewData["plantas"] as SelectList, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                </div>
            </div>
        <div class="row">
            <br />
            <h4 class="text-info">Capacidad de combustible y catalizador</h4>
        </div>
            <div class="row">

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.tipo_combustible, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        <select id="tipo_combustible" name="tipo_combustible" class="form-control">
                            <option value="Diesel">Diesel</option>
                            <option value="Gasolina 2t">Gasolina 2 tiempos</option>
                            <option value="Gasolina 4t">Gasolina 4 tiempos</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.medida_combustible, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        <select id="medida_combustible" name="medida_combustible" class="form-control">
                            <option value="Litros">Litros</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-3">

                    @Html.Label("Cantidad", htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.combustible, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.combustible, "", new { @class = "text-danger" })*@

                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.catalizador, htmlAttributes: new { @class = "control-label col-md-6" })

                    @*@Html.EditorFor(model => model.catalizador, new { htmlAttributes = new { @class = "form-control" } })*@
                    @*@Html.ValidationMessageFor(model => model.catalizador, "", new { @class = "text-danger" })*@
                    <div class="col-md-6">
                        <select id="catalizador" name="catalizador" class="form-control">
                            <option value="S">Si</option>
                            <option value="N">No</option>
                        </select>
                    </div>
                </div>
            </div>
        <div class="row">
            <br />
            <h4 class="text-info">Cantidades de aceite requeridas por componente</h4>
        </div>
            <div class="row">

                <div class="form-group col-md-3">
                    @Html.Label("Medida", htmlAttributes: new { @class = "control-label col-md-6" })

                    @*@Html.EditorFor(model => model.medida_aceite, new { htmlAttributes = new { @class = "form-control" } })*@
                    <div class="col-md-6">
                        <select id="medida_aceite" name="medida_aceite" class="form-control">
                            <option value="Litros">Litros</option>
                        </select>
                    </div>
                    @*@Html.ValidationMessageFor(model => model.medida_aceite, "", new { @class = "text-danger" })*@

                </div>



                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.aceite_motor, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.aceite_motor, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.aceite_caja, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.aceite_caja, new { htmlAttributes = new { @class = "form-control" } })
                        @*@Html.ValidationMessageFor(model => model.aceite_caja, "", new { @class = "text-danger" })*@
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.aceite_delantera, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.aceite_delantera, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.aceite_delantera, "", new { @class = "text-danger" })*@

                </div>


                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.aceite_trasera, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.aceite_trasera, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.aceite_trasera, "", new { @class = "text-danger" })*@

                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.aceite_hidraulico, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.aceite_hidraulico, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.aceite_hidraulico, "", new { @class = "text-danger" })*@

                </div>

                <div class="form-group col-md-3">
                    <div class="col-md-offset-6 col-md-6">
                        <input type="submit" value="Guardar" class="btn btn-accept" />
                    </div>
                </div>

            </div>
            <div class="row col-md-offset-8 col-md-4">
                <div class="col-md-6">
                    @Html.ActionLink("Lista de Equipos Menores", "ListarEqMenor")
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("Lista de Vehiculos", "ListarVehiculo")
                </div>
            </div>

            

            

        </div>
}
