<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sistema Indicadores Ambientales | @ViewBag.Title</title>
    <link href="~/Public/images/icon.ico" rel="shortcut icon" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="keywords" content="Pearly Care Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta Tags -->
    <link href="~/Public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Public/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Public/css/jquery-ui.css" />
    <link href="~/Public/css/simpleLightbox.css" rel="stylesheet" type="text/css" />
    <link href="~/Public/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Public/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Public/js/jquery.min.js"></script>
    <script src="~/Public/js/bootstrap.min.js"></script>
    <script src="~/Public/js/Chart.min.js"></script>
    <!--Online-fonts-->
    <link href="//fonts.googleapis.com/css?family=Oswald:300,400,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!--//Online-fonts-->
</head>
<body>
    <header>
        <div id="subheader">
            <div id="logotipo">
                <div id="logotipoIce">
                    <a href="~/Home/Index"><img style="max-width: 100%;" src="~/Public/images/logo.png"></a>
                </div>
            </div>
            <div id="buscar">

            </div>
            <section id="redes">
                <div id="socialnetworks">
                    <a class="facebook" href="https://www.facebook.com/GrupoICECR/"></a>
                    <a class="twitter" href="https://twitter.com/GrupoICEcr"></a>
                    <a class="youtube" href="https://www.youtube.com/user/ICEPrensa"></a>
                </div>
            </section>
            <div class="menu_bar">
                <a href="#" class="bt-mainMenu"><img src="~/Public/images/menuMobileIcon.png"></a>
                <a href="https://www.facebook.com/GrupoICECR/" class="bt-menu"><img src="~/Public/images/faceMobile.png"></a>
                <a href="https://twitter.com/GrupoICEcr" class="bt-menu"><img src="~/Public/images/twitterMobile.png"> </a>
                <a href="https://www.youtube.com/user/ICEPrensa" class="bt-menu"><img src="~/Public/images/youTubeMobile.png"></a>

            </div>

            <nav class="mb">
                <ul>
                    <li class="submenu">
                        <a href="#">Titulo1</a>
                        <ul class="children">
                            <li><a href="#">SubTitulo1.1</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#">Titulo2</a>
                        <ul class="children">
                            <li><a href="#">Subtitulo2.2</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <nav id="menu1">
                <ul>
                    @using Microsoft.AspNet.Identity
                    @if (Request.IsAuthenticated)
                    {
                        @Html.AntiForgeryToken()
                        <li>
                            <a href="#">Indicadores</a>
                            <section class="sect">
                                <div>
                                    <label>
                                        <a href="#">Agua</a>
                                    </label>
                                    <ul class="children">
                                        <li>
                                            <a href="~/ConsumoAgua/RegistrarConsumoAguaView">Insertar</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="~/ConsumoAgua/ActualizarConsumoAguaView">Actualizar</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="~/ConsumoAgua/MostrarHistoricoAguaView">Ver Historico</a>
                                        </li>
                                    </ul>
                                </div>

                                <div>
                                    <label>
                                        <a href="#">Combustible</a>
                                    </label>
                                    <ul class="children">
                                        <li>
                                            <a href="~/ConsumoCombustible/RegistrarConsumo">Nuevo consumo en Vehiculo</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="~/ConsumoCombustible/RegistrarConsumoEqMenor">Nuevo consumo en Equipo Menor</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="~/ConsumoCombustible/RegistrarConsumoMaquinaria">Nuevo consumo en Maquinaria</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="~/ConsumoCombustible/ListarConsumoCombustible">Ver Historico</a>
                                        </li>
                                    </ul>
                                </div>

                                <div>
                                    <label>
                                        <a href="#">Aceite</a>
                                    </label>
                                    <ul class="children">
                                        <li>
                                            <a href="~/ConsumoAceite/Index">Registrar Consumo Nuevo</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="#">Ver Historico</a>
                                        </li>
                                    </ul>
                                </div>

                                <div>
                                    <label>
                                        <a href="#">Compost</a>
                                    </label>
                                    <ul class="children">
                                        <li>
                                            <a href="~/CompostEntrada/RegistrarCompostEntradaView">Insertar Material Organico</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="~/CompostEntrada/ActualizarCompostEntradaView">Actualizar Material Organico</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                           <a href="~/CompostSalida/RegistrarCompostSalidaView">Insertar Abono</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="~/CompostSalida/ActualizarCompostSalidaView">Actualizar Abono</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="#">Ver Historico</a>
                                        </li>
                                    </ul>
                                </div>

                                <div>
                                    <label>
                                        <a href="#">Electricidad</a>
                                    </label>
                                    <ul class="children">
                                        <li>
                                            <a href="~/ConsumoElectrico/RegistrarConsumoElectricoView">Insertar</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="~/ConsumoElectrico/ActualizarConsumoElectricoView">Actualizar</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="~/ConsumoElectrico/MostrarHistoricoElectricoView">Ver Historico</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </li>

                        <li>
                            <a href="#">Evaluaciones</a>
                            <section class="sect">
                                <div>
                                    <label>
                                        <a href="#">Administrar</a>
                                    </label>
                                    <ul class="children">
                                        <li>
                                            <a href="~/Inspeccion/LlenarInspeccionView">Llenar Evaluación</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="~/Inspeccion/VerInspeccionView">Ver Evaluación</a>
                                        </li>
                                    </ul>
                                </div>

                                <div>
                                    <label>
                                        <a href="#">Evaluación</a>
                                    </label>
                                    <ul class="children">
                                        <li>
                                            <a href="~/Inspeccion/RegistrarInspeccionView">Insertar Evaluación</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="~/Inspeccion/EliminarInspeccionView">Eliminar Evaluación</a>
                                        </li>
                                    </ul>
                                </div>

                                <div>
                                    <label>
                                        <a href="#">Macrotema</a>
                                    </label>
                                    <ul class="children">
                                        <li>
                                            <a href="~/Criterio/RegistrarCriterioView">Insertar Macrotema</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="~/Criterio/EliminarCriterioView">Eliminar Macrotema</a>
                                        </li>
                                    </ul>
                                </div>

                                <div>
                                    <label>
                                        <a href="#">Aspecto de mejora</a>
                                    </label>
                                    <ul class="children">
                                        <li>
                                            <a href="~/Inspeccion/ActualizarHallazgoView">Actualizar Aspecto de mejora</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </li>
                        <li>
                            <a href="#">Configurar</a>
                            <section class="sect">
                                <div>
                                    <label>
                                        <a href="#">Planta</a>
                                    </label>
                                    <ul class="children">
                                        <li>
                                            <a href="~/Planta/RegistrarPlantaView">Registrar</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="#">Consultar</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="~/Planta/EliminarPlantaView">Eliminar</a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <label>
                                        <a href="#">Usuarios</a>
                                    </label>
                                    <ul class="children">
                                        <li style="float: right;">
                                            @Html.ActionLink("Insertar Usuario", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                        </li>
                                    </ul>
                                    @*<ul class="children">
                                        <li>
                                            <a href="#">Eliminar Usuario</a>
                                        </li>
                                    </ul>*@
                                    <ul class="children">
                                        <li>
                                            <a href="~/Usuario/verUsuarios">Ver Usuarios</a>
                                        </li>
                                    </ul>
                                </div>

                                <div>
                                    <label>
                                        <a href="#">Equipos</a>
                                    </label>
                                    <ul class="children">
                                        <li>
                                            <a href="~/Equipo/RegistrarEquipoView">Agregar Equipo Nuevo</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="~/Equipo/ListarEquipos">Lista de Equipos</a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <label>
                                        <a href="#">Vatihorimetro</a>
                                    </label>
                                    <ul class="children">
                                        <li>
                                            <a href="~/Vatihorimetro/RegistrarVatihorimetroView">Insertar</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="~/Vatihorimetro/EliminarVatihorimetroView">Eliminar</a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <label>
                                        <a href="#">Hidrometro</a>
                                    </label>
                                    <ul class="children">
                                        <li>
                                            <a href="~/Hidrometro/RegistrarHidrometroView">Insertar</a>
                                        </li>
                                    </ul>
                                    <ul class="children">
                                        <li>
                                            <a href="~/Hidrometro/EliminarHidrometroView">Eliminar</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </li>

                        <li style="float: right;">
                            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li style="float: right;">
                            @*<a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>*@
                            @Html.ActionLink("Cerrar sesión", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "logoutForm" })
                        </li>
                    }
                    else
                    {
                        <li style="float: right;">
                            @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                        </li>
                    }
                    <li style="float: right;">
                        <a href="~/Home/AcercaDe">Acerca de</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="contenido">
        @RenderBody()
    </div>
    <footer>
        <p>ICE Negocio Generación Área Sociambiental Región Huetar.</p>
        <p><a href="mailto:sistemaindicadoresambientales@gmail.com">sistemaindicadoresambientales@gmail.com</a></p>
        @*<p>Sabana Norte, San José, Costa Rica. Central telefónica: 2003 5423  <a href="mailto:atuladoice@ice.go.cr">atuladoice@ice.go.cr</a></p>*@
        @*<p class="terminos"><a>Términos de uso, declaración de cookies y políticas de privacidad</a></p>*@
        <p id="date"> Día # de Mes del Año.</p>

        <script>
            var d = new Date();
            var days = ["Domingo", "Lunes", "Martes", " Miércoles", "Jueves", "Viernes", "Sabado"];
            var mes = ["enero", "febrero", "marzp", "abril", "mayo", "junio", "julio", "agosto", "setiembre", "octubre", "noviembre", "diciembre"];
            var fecha = days[d.getDay()] + " " + d.getDate() + " de " + mes[d.getMonth()] + " del " + d.getFullYear() + ".";

            document.getElementById("date").innerHTML = fecha;
        </script>
    </footer>
</body>
</html>
