@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div id="Etiqueta">
            <h1 class="H1-Etiqueta">Ver evaluación</h1>
        </div>
        <hr />
        <div id="Formulario">
            <div style="margin: 0 auto; width: 25%;">
                @if (TempData["success"] != null)
                {
                    TempData.Remove("success");
                    <spam class="text-success">Evaluación impresa</spam>
                }
                @if (TempData["error"] != null)
                {
                    TempData.Remove("error");
                    <spam class="text-danger">Error al imprimir la evaluación</spam>
                }
            </div>
            @{
                int primero = 0;
                foreach (var planta in (ViewData["plantas"] as IEnumerable<SistemaIndicadoresAmbientales.Entity.Planta>
                    ))
                {
                    if (primero == 0)
                    {
                        <input type="radio" id="planta" name="planta" value="@planta.id" class='my_chkBox' checked="checked" />
                        <label class="control-label">@planta.nombre &nbsp;</label>
                        primero++;
                    }
                    else
                    {
                        <input type="radio" id="planta" name="planta" value="@planta.id" class='my_chkBox' />
                        <label class="control-label">@planta.nombre &nbsp;</label>
                    }

                }
            }
            <br />
            <br />
            <div class="FormularioLlenar">
                @Html.Label("Evaluaciones", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("inspecciones", ViewData["inspecciones"] as SelectList, new { @class = "form-control" })
                @Html.Label("Fecha", htmlAttributes: new { @class = "control-label" })
                <input type="date" id="fecha" name="fecha" class="form-control">
                <p id="spanFecha" class="text-danger"></p>
            </div>
            <div>
                <div style="text-align: center;">
                    <input value="Cargar" id="Cargar" name="Cargar" onclick="cargarEvaluacion();" type="button" class="from-control">
                </div>
            </div>
            <table id="tb_Criterios" class="table">
                <thead>
                    <tr>
                        <th style="display:none;">
                            @Html.DisplayName("ID")
                        </th>
                        <th>
                            @Html.DisplayName("Macrotema")
                        </th>
                        <th>
                            @Html.DisplayName("Si")
                        </th>
                        <th>
                            @Html.DisplayName("No")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="criterios"></tbody>
            </table>
            <table id="tb_Evaluacion" class="table" style="display: none;">
                <thead id="titulos"></thead>
                <tbody id="macrotemas"></tbody>
            </table>
            <p id="spanEvaluacion" class="text-danger"></p>
            <p id="spanHallazgo" class="text-danger"></p>
            <div>
                <div style="text-align: center;">
                    <input value="Imprimir" id="Imprimir" name="Imprimir" onclick="imprimirEvaluacion();" type="button" class="from-control">
                </div>
            </div>
        </div>
    </div>
                }
<!-- The Modal -->
<div id="registrarHallazgo" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="Etiqueta">
            <h1 class="H1-Etiqueta">Hallazgo</h1>
        </div>
        <hr />
        <div id="Formulario">
            <div style="text-align: center;">
                <input type="hidden" id="idCriterio" name="idCriterio" class="form-control" />
                @Html.Label("Descripción", htmlAttributes: new { @class = "control-label" })
                <textarea id="descripcion" name="descripcion" rows="10" cols="50" class="form-control" style="resize: none;" disabled></textarea>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    //variables
    var close = document.getElementsByClassName("close")[0];
    var hallazgos = new Array();
    var macroTemas = new Array();

    function cargarEvaluacion() {
        var planta = $('input[name="planta"]:checked').val();
        var evaluacion = $("#inspecciones").val();
        var fecha = $("#fecha").val();
        var combo = document.getElementById("inspecciones");
        var selected = combo.options[combo.selectedIndex].text;

        if (planta != "" && evaluacion != "" && fecha != "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("obtenerEvaluacion")',
                dataType: 'json',
                data: { id_inspeccion: $("#inspecciones").val(), id_planta: $('input[name="planta"]:checked').val(), fecha: $("#fecha").val() },

                success: function (evaluacion) {
                    var rowT = "";
                    var rowM = "";
                    rowT += "<tr><th>Fecha: " + fecha + "</th><th>Evaluación: " + selected + "</th><th>Planta: No se como recuperar la planta</th></tr>";
                    rowT += "<tr></th><th>Macrotema</th><th>Si</th><th>No</th><th>Hallazgo</th></tr>";
                    var row = "";
                    for (var i = 0; i < evaluacion.length; i++) {
                        row += "<tr><td style='display:none;'>" + evaluacion[i].id_Macrotema + "</td><td>" + evaluacion[i].Macrotema + "</td>";
                        rowM += "<tr><td style='display:none;'>" + evaluacion[i].id_Macrotema + "</td><td>" + evaluacion[i].Macrotema + "</td>";
                        if (evaluacion[i].Cumple == "S") {
                            row += "<td><input type='radio' id='" + evaluacion[i].id_Macrotema + "' name='" + evaluacion[i].id_Macrotema + "' value='S' class='my_chkBox' disabled='true' checked/></td><td><input type='radio' id='" + evaluacion[i].id_Macrotema + "' name='" + evaluacion[i].id_Macrotema + "' value='N' class='my_chkBox' disabled='true' /></td><td><a href='#' onclick='hallazgo(" + evaluacion[i].id_Macrotema + ");'>Hallazgo</a></td></tr>";
                            rowM += "<td><input type='radio' id='radio" + evaluacion[i].id_Macrotema + "' name='radio" + evaluacion[i].id_Macrotema + "' value='S' class='my_chkBox' disabled='true' checked/></td><td><input type='radio' id='radio" + evaluacion[i].id_Macrotema + "' name='radio" + evaluacion[i].id_Macrotema + "' value='N' class='my_chkBox' disabled='true' /></td><td>No Aplica</td></tr>";
                        } else {
                            row += "<td><input type='radio' id='" + evaluacion[i].id_Macrotema + "' name='" + evaluacion[i].id_Macrotema + "' value='S' class='my_chkBox' disabled='true' /></td><td><input type='radio' id='" + evaluacion[i].id_Macrotema + "' name='" + evaluacion[i].id_Macrotema + "' value='N' class='my_chkBox' disabled='true' checked /></td><td><a href='#' onclick='hallazgo(" + evaluacion[i].id_Macrotema + ");'>Hallazgo</a></td></tr>";
                            rowM += "<td><input type='radio' id='radio" + evaluacion[i].id_Macrotema + "' name='radio" + evaluacion[i].id_Macrotema + "' value='S' class='my_chkBox' disabled='true' /></td><td><input type='radio' id='radio" + evaluacion[i].id_Macrotema + "' name='radio" + evaluacion[i].id_Macrotema + "' value='N' class='my_chkBox' disabled='true' checked /></td><td>" + evaluacion[i].hallazgo + "</td></tr>";
                            var hallazgo = { Id: evaluacion[i].id_Macrotema, Descripcion: evaluacion[i].hallazgo };
                            hallazgos.push(hallazgo);
                        }
                    }
                    $("#titulos").html(rowT);
                    $("#macrotemas").html(rowM);
                    $("#criterios").html(row);
                    document.getElementById("spanFecha").innerHTML = "";
                },
                error: function (ex) {
                    alert('Fallo al cargar la evaluacion.' + ex);
                }
            });
        } else {
            document.getElementById("spanFecha").innerHTML = "Se requiere una fecha para cargar la evaluación";
        }//if-else para validar los campos planta, inspeccion, fecha
    }//cargarEvaluacion

    function hallazgo(criterio) {
        var seleccion = $('input[name=' + criterio + ']:checked').val();
        if (seleccion == "N") {
            document.getElementById('registrarHallazgo').style.display = "block";
            document.getElementById('idCriterio').value = criterio;
            for (var j = 0; j < hallazgos.length; j++) {
                var criterioActual = hallazgos[j].Id;
                if (criterioActual == criterio) {
                    document.getElementById('descripcion').value = hallazgos[j].Descripcion;
                }
            }//for j
        }//if
    }//hallazgo

    close.onclick = function () {
        document.getElementById('registrarHallazgo').style.display = "none";
    }//boton de cerrar modal

</script>
